asgiref==3.8.1
beautifulsoup4==4.12.3
boto3==1.35.45
botocore==1.35.45
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
defusedxml==0.8.0rc2
dj-database-url==2.2.0
Django==4.2.16
django-allauth==65.0.2
django-appconf==1.0.6
django-bootstrap-v5==1.0.11
django-bootstrap4==24.3
django-cryptography==1.1
django-heroku==0.3.1
django-js-lib-bootstrap5==5.3.3.1
django-requests==0.0.2
django-sslserver==0.22
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
exceptiongroup==1.2.2
gitdb==4.0.11
github-cli==1.0.0
GitPython==3.1.43
gunicorn==23.0.0
html5lib==1.1
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
networkx==3.3
numpy==2.1.1
oauthlib==3.2.2
packaging==24.1
pandas==2.2.3
pluggy==1.5.0
psycopg==3.2.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycparser==2.22
pycurl==7.45.3
PyJWT==1.7.1
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
s3transfer==0.10.3
scipy==1.14.1
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.6
sqlparse==0.5.1
stem==1.8.2
tomli==2.1.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
whitenoise==6.7.0
